@model IEnumerable<Member>

<h3>@TempData["Mesaj"]</h3>
<h2>Member List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Weight</th>
            <th>Length</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.Email</td>
                <td>@member.UserName</td>
                <td>@member.weight</td>
                <td>@member.length</td>
                <td>
                    <form asp-action="DeleteMember" asp-route-id="@member.Id" method="post" onsubmit="return confirm('Emin misiniz?');">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                 
                </td>
            </tr>
        }
    </tbody>
</table>